{%extends 'base_bot_head.html'%}

{%block inner_body%}
	<h3 class="common_title">确认收货地址</h3>

	<div class="common_list_con clearfix">
		<dl>
			<dt>寄送到：</dt>
			<dd><input type="radio" name="" checked="">{{user.uaddress}} （{{user.ushou}} 收） {{user.uphone}}</dd>
		</dl>
		<a href="/user/site/" class="edit_site">编辑收货地址</a>

	</div>
	
	<h3 class="common_title">支付方式</h3>	
	<div class="common_list_con clearfix">
		<div class="pay_style_con clearfix">
			<input type="radio" name="pay_style" checked>
			<label class="cash">货到付款</label>
			<input type="radio" name="pay_style">
			<label class="weixin">微信支付</label>
			<input type="radio" name="pay_style">
			<label class="zhifubao"></label>
			<input type="radio" name="pay_style">
			<label class="bank">银行卡支付</label>
		</div>
	</div>

	<h3 class="common_title">商品列表</h3>
	
	<div class="common_list_con clearfix">
		<ul class="goods_list_th clearfix">
			<li class="col01">商品名称</li>
			<li class="col02">商品单位</li>
			<li class="col03">商品价格</li>
			<li class="col04">数量</li>
			<li class="col05">小计</li>		
		</ul>
		{%if is_cart == 1%}
		{%for c in cart_list%}
			<ul class="goods_list_td clearfix" id="{{c.id}}">
				<li class="col01">1</li>
				<li class="col02"><img src="/static/{{c.goods.gpic}}/"></li>
				<li class="col03">{{c.goods.gtitle}}</li>
				<li class="col04">{{c.goods.gunit}}</li>
				<li class="col05">{{c.goods.gprice}}元</li>
				<li class="col06">{{c.count}}</li>
				<li class="col07">25.80元</li>
			</ul>
		{%endfor%}
		{%endif%}
		{%if is_good == 1%}
			<ul class="goods_list_td clearfix" id="{{good.id}}">
				<li class="col01">1</li>
				<li class="col02"><img src="/static/{{good.gpic}}/"></li>
				<li class="col03">{{good.gtitle}}</li>
				<li class="col04">{{good.gunit}}</li>
				<li class="col05">{{good.gprice}}元</li>
				<li class="col06">{{count}}</li>
				<li class="col07">25.80元</li>
			</ul>
		{%endif%}

	</div>

	<h3 class="common_title">总金额结算</h3>

	<div class="common_list_con clearfix">
		<div class="settle_con">
			<div class="total_goods_count">共<em>0</em>件商品，总金额<b id="total1"></b></div>
			<div class="transit">运费：<b>10元</b></div>
			<div class="total_pay">实付款：<b>0</b></div>
		</div>
	</div>

	<div class="order_submit clearfix">
		<a href="javascript:;" id="order_btn">提交订单</a>
	</div>

	<div class="popup_con">
		<div class="popup">
			<p>订单提交成功！</p>
		</div>

		<div class="mask"></div>
	</div>
{%endblock inner_body%}

{%block tail%}


		total_haha = 0;
		function total(){
			total1 = 0;
			total_count = 0;

			$('.col07').each(function(index){
				// 获取该商品要购买的数量
				count = $(this).prev().text();
				price = $(this).prev().prev().text();
				// 小计total0
				total0 = parseFloat(count) * parseFloat(price);
				$(this).text('￥'+total0.toFixed(2));
				total1 = total1 + total0;
				total_count++;
				$(this).siblings(':first').text(index+1);


			});
			// 运费
			freight_all = $('.transit b').text()
			// 拿到的是10元，我要的是10，要截取
			freight = parseFloat(freight_all.slice(0, 2));
			// 加上运费
			total = total1 + freight;


			$('.total_goods_count em').text(total_count);
			$('#total1').text(total1.toFixed(2) + "元");
			$('.total_pay b').text(total.toFixed(2) + "元");
			return total;
		}
		total_haha =total();

		$('#order_btn').click(function(){
			localStorage.setItem('order_finish',2);

			$('.popup_con').fadeIn('fast', function() {

				setTimeout(function(){
					$('.popup_con').fadeOut('fast',function(){
						window.location = '/user/order/1/';
					});
				},3000)

			});
			{%if is_cart == 1%}
				// 传输部分
				card_ids = "";
				len = $('.goods_list_td').length;
				$('.goods_list_td').each(function(index){
					//console.log($(this).prop('id'));
					id = $(this).prop('id');
					alert(id)
					if(index+1 == len){
						card_ids = card_ids + id;
					}else{
						card_ids = card_ids + id + ',';
					}

				});
				alert(card_ids);
				$.post("/order/order_handle/", {ids: card_ids, flag: 0, total: total_haha}, function(data){
					alert(data.success);
				});
			{%endif%}

			{%if is_good == 1%}
				good_id = $('.goods_list_td').prop('id');
				alert(good_id);
				$.post("/order/order_handle/", {id: good_id, flag: 1, total: total_haha, count:{{count}}}, function(data){
					alert(data.success);
				});
			{%endif%}
		});

{%endblock tail%}

