{%extends 'df_goods/de_li_base.html'%}
{%block special%}
<div class="search_bar clearfix">
		<a href="/" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" onclick="search()" name="" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="/cart/" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">{{count}}</div>
		</div>
</div>
{%endblock special%}
{%block innermost%}

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">搜索</a>
	</div>

	<div class="main_wrap clearfix">


		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="javascript:;"
				   class="active"
				>搜素结果</a>
			</div>

			<ul class="goods_type_list clearfix">
				{% if query %}

				{%for g in page.object_list%}
				<li>
					<a href="/{{g.object.id}}/"><img src="/static/{{g.object.gpic}}/"></a>
					<h4><a href="/{{g.id}}/">{{g.object.gtitle}}</a></h4>
					<div class="operate">
						<span class="prize">￥{{g.object.gprice}}</span>
						<span class="unit">{{g.object.gprice}}/{{g.object.gunit}}</span>
						<a href="javascript:;" name="{{g.object.id}}" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
				{%endfor%}
			</ul>

				<div class="pagenation">
					{%if page.has_previous%}
					<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">上一页</a>
					{%endif%}

					{%if page.object_list%}
						{%for pindex in paginator.page_range%}
							{%if pindex == page.number%}
							<a href="#" class="active">{{pindex}}</a>
							{%else%}
							<a href="?q={{ query }}&amp;page={{ pindex }}">{{pindex}}</a>
							{%endif%}
						{%endfor%}
                    {%endif%}

					{%if page.has_next%}
					<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">下一页</a>
					{%endif%}
				</div>

				{% endif %}



		</div>
		<div class="add_jump"></div>
	</div>

{%endblock innermost%}

{%block tail%}
		$.get('/cart/search/',function(data){
			$('#show_count').text(data.count);
			$('title').text('天天生鲜-搜索');
		});

		var $to_x = $('#show_count').offset().top;
		var $to_y = $('#show_count').offset().left;

		// 因为每个li给服务器发送的内容都不一样，直接选择器不行，用each循环给 add_goods 绑定事件
		$('.add_goods').each(function(){
			$(this).click(function(){

				// 这里也是因为每个图标位置不一样，所以获取的时候只能放在循环里面，用this
				var $add_x = $(this).offset().top;
				var $add_y = $(this).offset().left;
				$(".add_jump").css({'left':$add_y,'top':$add_x,'display':'block'})

				// ajax的局部更新并不会使装饰器生效，本地判断一下
				if($('.login_btn').text().indexOf('登录')>=0){
					alert('请先登录');
					location.href = '/user/login/'
					return;
				}

				//动画部分
				$(".add_jump").stop().animate({
					'left': $to_y+7,
					'top': $to_x+7},
					"fast", function() {
						$(".add_jump").fadeOut('fast',function(){});

				});

				//ajax部分
				id = $(this).prop('name');
				$.get('/cart/add'+id+'_1/', function(data){
					$('#show_count').text(data.count);
				});

			});
		});




{%endblock tail%}
