{%extends 'df_goods/de_li_base.html'%}
{%block head%}
<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
<script>
	function plus(){
		var num = parseFloat($('.num_show').val());
		$('.num_show').val(num + 1);
		$('.num_show').blur();
	}

	function minus(){
		var num = parseFloat($('.num_show').val());
		if(num>1){
			$('.num_show').val(num - 1);
			$('.num_show').blur();
		}
	}
	$(function(){
		$('.num_show').blur(function(){
			var num = parseFloat($('.num_show').val());
			var price = parseFloat($('#gprice').text());
			var total = num * price;
			$('#total').text(total.toFixed(2)+'元')
		})
	});
</script>
{%endblock head%}
{%block innermost%}
	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{good.gpic}}/"></div>

		<div class="goods_detail_list fr">
			<h3>{{good.gtitle}}</h3>
			<p>{{good.gjianjie}}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em id="gprice">{{good.gprice}}</em></span>
				<span class="show_unit">单  位：{{good.gunit}}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:plus();" class="add fr">+</a>
					<a href="javascript:;minus()" class="minus fr">-</a>
				</div> 
			</div>
			<div class="total">总价：<em id="total">16.80元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn" id="{{good.id}}">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {%for g in news%}
					<li>
						<a href="/{{g.id}}/"><img src="/static/{{g.gpic}}/"></a>
						<h4><a href="/{{g.id}}/">{{g.gtitle}}</a></h4>
						<div class="prize">￥{{g.gprice}}</div>
					</li>
					{%endfor%}

				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<xdd>{{good.gcontent|safe}} </xdd>
				</dl>
			</div>

		</div>
		<div class="add_jump"></div>>
	</div>
{%endblock innermost%}

{%block tail%}

	<script type="text/javascript">

		var $to_x = $('#show_count').offset().top;
		var $to_y = $('#show_count').offset().left;

		$('#add_cart').click(function(){
			// 点击后重新读取，让动画能重复
			var $add_x = $('#add_cart').offset().top;
			var $add_y = $('#add_cart').offset().left;
			$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})

			// ajax的局部更新并不会使装饰器生效，本地判断一下
			if($('.login_btn').text().indexOf('登录')>=0){
				alert('请先登录');
				location.href = '/user/login/'
				return;
			}
			//动画部分
			$(".add_jump").stop().animate({
				'left': $to_y+7,
				'top': $to_x+7},
				"fast", function() {
					$(".add_jump").fadeOut('fast',function(){});

			});

			//ajax部分
			num = parseInt($('.num_show').val());
			$.get('/cart/add{{good.id}}_'+num+'/', function(data){
				$('#show_count').text(data.count);
			});
		});

		$('.buy_btn').click(function(){
			len = $(':checked:not(#check_all)').length;
			var address = '/order/?good_id='+$(this).prop('id');
			$(this).prop('href', address);
		});
	</script>

{%endblock tail%}
